.DS_Store

.idea/
*.iml

_builds/
_projects/
_steps/

.build/
tmp/
.tmp/
debug/

dist/*

node_modules/
bower_components/
lib-cov/

pids/
logs/

data

lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
